section{
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

section>form{
  width:40%;
}

section > form > div{
  display: flex;
  margin-bottom: 2%;
}

section>form> div>label{
  flex:1;
}
section>form>div>input{
  flex:2;
}

