<section>
  <form #contactForm='ngForm' (submit)="edit?updateContact(contactForm): addContact(contactForm)">
    <div>
      <label for="name">Fullname</label>
      <input [(ngModel)]="contact.name" type="text" name="name"   id="name" required pattern="[a-zA-Z]{4,}"  #name='ngModel' />
      <span *ngIf="name.touched">
        <span *ngIf="name.errors?.required">
          Enter the name
        </span>
        <span *ngIf="name.errors?.pattern">
            Enter valid name, name must contain only alphabet and min 4 characters
        </span>

      </span>
    </div>
    <div>
      <label for="email">Email</label>
      <input [disabled]='edit' [(ngModel)]="contact.email" type="text" name="email" id="email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
    </div>
    <div>
      <label for="mobile">Mobile</label>
      <input [(ngModel)]="contact.mobile" type="text" name="mobile" id="mobile" required pattern="[6-9][0-9]{9}" />
    </div>
    <div>
      <input *ngIf="!edit" [disabled]='!contactForm.valid' type="submit" value="Add Contact">
      <input *ngIf="edit" [disabled]='!contactForm.valid' type="submit" value="Update Contact">
    </div>
  </form>
</section>
