This is app component
<style>
  .enable {
    background-color: orange;
    font-size: 20px;
  }

  .disable {
    background-color: yellow;
    font-size: 10px;
  }

</style>


<input [(ngModel)]='name' type = "text" name="fullname"/>
<input [(ngModel)]="age" type='text' name='age'/>

<div>
  <table>
    <tr>
      <td>{{name}}</td>
      <td>{{age}}</td>
    </tr>
  </table>
</div>


<!-- <button [ngStyle]="{'background-color': clickHereButtonColor,'font-size': fontSize}" [disabled]='!isActive' >Click Here</button> -->

<button [ngClass]="{enable: isActive, disable:!isActive}" [disabled]='!isActive'>Click Here</button>

<button style='background-color: red;' *ngIf="isActive" (click)="switch()">Disable Click Here</button>
<button style='background-color: green' *ngIf="!isActive" (click)="switch()">Enable Click Here</button>

<div>
  {{friendsNames}}
</div>

<div>
  <ul>
    <span *ngFor="let friendName of friendsNames; let i = index">
      <li *ngIf="friendName!='Jeswanth'">{{i+1}}. {{friendName}}</li>
    </span>
  </ul>

</div>
