header{
  width: 100%;
  padding:2%;
  background-color: cornflowerblue;
  margin-bottom: 2%;
}

section{
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

section> table{
  width: 60%;
}

