<header>
  <a>
    <h1>Phonebook</h1>
  </a>
</header>

<app-add-contact [contact]="selectedContact"  (addingContact)= "addNewContact($event)"></app-add-contact>

<section>
  <table border="1" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList">
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.mobile}}</td>
        <td><button (click)="editContact(contact)">Edit</button></td>
        <td><button>Delete</button></td>
      </tr>
    </tbody>
  </table>
</section>
