
<section>
  <table border="1" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList">
        <!-- <td><a routerLink='/contacts/{{contact.email}}'>{{contact.name}}</a></td> -->
        <!-- <td><a [routerLink]="['/contacts', contact.email]">{{contact.name}}</a></td> -->
        <td><a [routerLink]="['/par-contact']" [queryParams] = "{email:contact.email, name:contact.name}">{{contact.name}}</a></td>
        <td>{{contact.email}}</td>
        <td>{{contact.mobile}}</td>
        <td><button (click)="editContact(contact)">Edit</button></td>
        <td><button>Delete</button></td>
      </tr>
    </tbody>
  </table>
</section>

